*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans&display=swap');
    font-family: 'Fredoka One', cursive;
    font-family: 'Open Sans', sans-serif;
}
/* NAV E HEADER */
.navbar{
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: #3161e0;
    height: 80px;
    align-items: center;
    font-size: clamp(12px,2vw,15px);

}

.container{
    padding: 120px 40px 120px 40px;
    color: white;
    background-color:lightblue;
    background-image: url('../img/jumbo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-alpha{
    width: 65%;
    text-align: center;
    margin: auto;
}

.section-alpha p{
    margin-top: 40px;
    font-size: clamp(16px,2vw,20px);
}

.button{
    border-radius: 40px;
    padding: 10px 30px;
    border: none;
}

.white{
    background-color: white;
    color: black;
}

.black{
    background-color: black;
    color: white;
}

.m-button{
    margin-top:40px;
}

.m-button-bottom{
    margin-bottom: 30px;
}

.mid{
    align-items: center;
}

/* SEZIONI */
.flex{
    display: flex;
}

.righe{
    flex-direction: row;
}

.background{
    height: auto;
    width: 100%;
}

.grey{
    background-color: #f6f6f6;
}

.black{
    background-color: black;
    opacity: 0.8;
}

.blue{
    background-color: #8ea1e1;
    color: white;
}

.reverse{
    flex-direction: row-reverse;
}

.immagine{
    flex-basis: 60%;
    align-items: center;
    justify-content: flex-end;
}

.left{
    margin-left: 190px;
}

.right{
    margin-right: 350px;
}

.testo{
    width: 30%;
    text-align: left;
    align-self: center;
    font-family: inherit;
}

.margin{
    padding-top: 30px;
    padding-bottom: 20px;
}

/* FOOTER */
footer{
    margin-top: 10px;
}

.social{
    max-height: 20px;
    margin:6px;
}
.foot{
    justify-content: space-around;
    align-items: center;
    width: 85%;
    margin: auto;
    padding-bottom: 30px;
}

.foot div{
    margin-top:15px;
}

.ita{
    align-items: center;
    display: flex;
}

#simbol{
    margin-left: 6px;
}

.ita img{
    max-width: 25px;
    margin-right: 4px;
}

.between{
    justify-content: space-between ;
}

.divider{
    width: 85%;
    height: 1px;
    margin: 32px auto 32px auto;
    background-color: #8ea1e1;
}

.text-blue{
    color: #8ea1e1;
}



